.menuback{
    /* background-image: linear-gradient(rgb(255, 255, 255), #C8E0FE); */
    /* height: 95px;
    position: absolute;
    top: 0;
    width: 100vw;
    margin-top: 100px;
    padding-bottom: 10px;
    margin: 0;
    z-index: -1;
    right: 0;
    background-color: pink; */
 }
 .menuwidth{
    width: 100vw;
 }
 .section1{
    background-color: #778ca9;
    height: 1500px;
    top: 0;
    width: 100%;
    margin-top: 100px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -2;
    flex-direction: column;
 }

 .theProcess{
    background-color: #093756;
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    margin-top: -50px;

 }
 .theProcess2{
   background-color: #093756;
   width: 90%;
   height: auto;
   display: flex;
   flex-direction: row;
   align-items: center;
   position: relative;
   margin-top: -50px;

}
 .manos{
    position: relative;
    width: 50%;
    max-height: 800px;
    max-width: 535px;
    padding: 40px 0;
 }
 .manos2{
   position: relative;
   width: 50%;
   max-height: 800px;
   max-width: 535px;
   padding: 40px 0;
 }
 #processType{
    right: 0;
    width: 100%;
 }
 .title{
    top: 0;
    margin-top: 120px;
    display: flex;
    position: absolute;
    color: #C8E0FE;
    letter-spacing: 25px;
    justify-content: center;
    width: 100%;
    font-size: 60px;
    z-index: -1;
   
 }
 #processImg{
   margin-right: 10px;
 }
 .descript{
    top: 0;
    margin-top: 190px;
    display: flex;
    position: absolute;
    margin-right: 0;
    color: #093756;
    letter-spacing: 1px;
    justify-content: center;
    width: 100%;
    font-size: 25px;
    z-index: -1;
    margin-left: 0;
    font-weight: 600;
    text-align: center;
    
 }
 .sectitleContainer{
    position: relative;
    display: flex;
    background-color: #093756;
    width: 90%;  
    justify-content: space-around;
    height: auto;
    top: 0;
    z-index: 10;
 }
 .sectitle{
    color:#C8E0FE;
    white-space: nowrap;
    font-size: 40px;

 }
 .sectitle2{
   color:#C8E0FE;
   white-space: wrap;
   font-size: 2rem;
   position: relative;
   text-align: center;
   display: flex;
   height: 100%;
   margin-top: 300px;
   justify-content: center;
   width: 100%;
   /* background-color: aqua; */

 }
 .descriptPar{
   color: #b5957b;
   /* margin: 10px 20px; */
   padding-left: 535px;
   width: 100% - 535px;
   margin-bottom: 20px;
   text-align: center;
   font-size: 1.5rem;
   position: relative;
   max-height: 300px;
   padding-right: 40px;
   /* background-color: pink; */
 }
 .descriptParDiv{
   width: 100%;
   flex-direction: column;
   height: 50%;
   /* 1130 */
   /* background-color: aqua; */
   display: flex;
   position: absolute;
   /* background-color: greenyellow; */
 }
 p{
    color: #b5957b;
    /* margin: 10px 20px; */
    padding-left: 38%;
    width: 60%;
    margin-bottom: 20px;
    text-align: center;
    font-size: 1.5rem;
    position: relative;
    max-height: 300px;
 }
 button{
    max-width: 30%;
    background-color: #C8E0FE;
    border-radius: 15px;
    width: 200px;
    height: 70px;
    position: relative;
    font-size: 30px;
    display: flex;
    border-color: #4c331f;
    justify-content: center;
    align-items: center;
   
 }
 button a {
    text-decoration: none;
    color: #0c2760;
    padding: 10px 10px;
    position: relative;
    width: 100%;
    font-family: 'Times New Roman', Times, serif;
 }
 button:hover{
    background-color: #A5907E;
 }
 button:hover a{
    color: #4c331f;
 }
 .section2{
    background-color: #778ca9;
    width: 100%;
    height: 850px;
    position: absolute;
    display: flex;
    top: 1500px;
    justify-content: center;
 }
 
 
 #biggerButton{
    width: 200px;
    max-width: 100%;
 }
 #tropicalA{
    max-width: 100%;
    text-wrap: nowrap;
 }
 .secProcessPhone{
   background-color: #093756;
   position: absolute;
   display: flex;
   justify-content: center;
   align-items: start;
   height: 130%;
   width: 100%;
   margin-top: 1800px;
   z-index: -1;
 }
 #processTextPhone{
   margin-top: 20px;
   background-color: #093756;
   z-index: 20;

 }
 
 @media screen and (max-width: 1300px) {
   p {
       font-size: 1.2rem; /* Adjust the font size as needed */
   }
   }
 @media screen and (max-width: 1050px) {
   #webProcessText{
      display: none;
   }
   #processType{

      width: 70%;
      height: auto;
      max-height: 800px;
      max-width: 535px;
      padding: 40px 0;
      margin-top: 1800px;
      background-color: #093756;
      position: absolute;
      right: 0;
      /* max-height: 745px; */
   }
   #stylewPassion{
      margin-left: 25%;
   }
   p{
      font-size: 1.3rem;
   }
   #processImg{
      margin-right: 10px;
      position: absolute;
      margin-top: 1800px;
      background-color: #093756;
    }
    .theProcess{
      z-index: -2;
   }

    .section1{
      padding-bottom: 600px;
      z-index: -2;

    }
    .section2{
      top: 2200px;
      padding-top: 200px;
    }
    .manos2{
      position: relative;
      width: 50%;
      max-height: 700px;
      padding:  0;
    }

 }
   @media screen and (max-width: 1150px) {

      .descriptPar{
      padding-left: 50%;
      width: 50%;         
      }

   }
 @media screen and (max-width: 800px) {
    /* p {
        font-size: 1.2rem; Adjust the font size as needed
    } */
    .secProcessPhone{
      padding-top: 250px;
    }
    #processTextPhone{
      margin-top: -230px;
   
    }
    .descript{
      margin-top: 390px;
      max-width: 750px;
    }
    .title{
      margin-top: 250px;
    }


 }
 @media screen and (max-width: 568px) {
    /* p {
        font-size: 1rem; 
    } */
    .secProcessPhone{
      padding-top: 450px;
    }
    #processTextPhone{
      margin-top: -430px;
   
    }
 }
 
 