body{
    margin: 0;
    height: 100vh;
}
iframe{
    height: 100px;
   
}
iframe:hover{
    height: 300px;
}
.page-area-container{
    width: 100%;
    background:#C8E0FE; 
    position: relative;
    z-index: 0;
    top: 100px;

}

.dark-modal-section::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.149); 
    z-index: 1;
    backdrop-filter: blur(10px); 
}
.hide::before {
    background-color: transparent; /* Hide background */
    backdrop-filter: none; /* Remove blur */
    display: none;
}
.modal{
    top: 0;
    background-color: #093756;
    z-index: 2;
    position: absolute;
    height: 150px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr auto;
}
.hidden {
    display: none; /* Hides the element */
}
.modal h1{
    padding: 0%;
    margin: 0;
}
.x-shape {
    position: relative;
    width: 25px;
    height: 50px;
    cursor: pointer;
  }
  
  .x-shape::before,
  .x-shape::after {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 2px;
    height: 50%;
    background-color: #C8E0FE;
  }
  
  .x-shape::before {
    transform: rotate(45deg);
  }
  
  .x-shape::after {
    transform: rotate(-45deg);
  }
  

#table-of-contents{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.rid-of-margin{
    margin: 0;
}
.page-edit-area{
    width: 90vw;
    background-color: #546782;
    margin: 0 auto;
    height: 100%;
    padding: 30px;
    box-sizing: border-box; 
    border-radius: 15px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.post-section-outline{
    border: 3px solid #6a7c96;
    border-radius: 15px;
    padding: 10px;
    max-width: 900px;
    width: 75vw;
    margin: 20px 0;
}

 h2, li, h3, h4, a, p{
    color: #070247;
}
img{
    width: 90%;
    height: auto;
    border-radius: 15px;
}
.position-img{
    width: 100%;
    display: flex;
    justify-content: center;
}
a{
    font-size: 24px;
}
h1{
    color: #b4cae5;
    text-align: center;
}
h2{
    font-size: 28px;
}
h3{
    font-size: 26px;
}
h4{
    font-size: 25px;
}

p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 24px;
}
li{
    font-weight: 600;
    font-size: 24px;
}

.fix-position{
    z-index: 1;
    position: absolute;

}

.animated-link{
    color: #01104d;
    text-decoration: none;
    position: relative;
    box-shadow: inset 0 -2px 0 0 #01104d;

}
.animated-link:hover{
    box-shadow: none;
}


/* asked Chatgpt for text underline animation */
.animated-link::after {
    content: ""; /* Creates an empty element after the link */
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0px; /* Position the underline just below the text */
    height: 2px; /* Set the thickness of the underline */
    background-color: #b4cae5; /* Color of the underline */
    transform: scaleX(0); /* Initially, hide the underline */
    transform-origin: right; /* Start the animation from the right */
    transition: transform 0.4s ease; /* Animation for the hover effect */
}

.animated-link:hover::after {
    transform: scaleX(1); /* Fully extend the underline on hover */
    transform-origin: left; /* Animate from left to right */
}
.writing-section-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.stary-night-background{
    position: absolute;
    width: 75vw;
    height: 100%;
    max-width: 900px;
    margin: 0;
    padding: 0;
    border: 0;
    z-index: 0;
    object-fit: cover;
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 5%, rgba(0, 0, 0, 1) 80%, rgba(0, 0, 0, 0) 100%);
  }

@font-face {
    font-family: 'Halo';
    src: url('font/Halo.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Halo Outline';
    src: url('font/Halo-Outline.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  
.halo-text{
    font-family: 'Halo';
    font-size: clamp(16px, 14vw, 140px);
    margin: 5px;
    position: absolute;
    color: #6488af;
    background: linear-gradient(to bottom, #C8E0FE 30%, #6488af 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 

}
.halo-text-outline{
    font-family: 'Halo Outline';
    font-size: clamp(16px, 14.2vw, 142px);
    color: #C8E0FE;
    position: absolute;
    background: linear-gradient( #093756 35%, #C8E0FE 200%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    margin: 5px;
}
.halo-journey-img img{
    width: 85%;
    height: auto;
}
.halo-journey-img{
    display: flex;
    position: relative;
    justify-content: center;
    width: 100%;
}
.absolute-journey-text{
    position: absolute;    
}
.journey-text span{
    background: linear-gradient(to right, #0a2f48 35%, #C8E0FE 250%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
}
.journey-text{
    font-size: clamp(16px, 8.5vw, 80px);
    background: linear-gradient(to right, #0a2f48 35%, #C8E0FE 150%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
}
.experience-text{
    font-size: clamp(16px, 4.5vw, 30px);
    background: linear-gradient(to right, #C8E0FE 35%, #fff 110%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
}
.absolute-experience-text{
    position: absolute; 
    margin: -10px 10px 0 0;
}
.halo-experience-img{
    display: flex;
    position: relative;
    width: 85%;
    justify-content: end;
 

}
.experience-halo-img img{
    width: 100%;
    margin-top: -25px;    
}
.atmosphere-text{
    font-size: clamp(16px, 6vw, 30px);
    background: linear-gradient(to right, #C8E0FE 35%, #093756 110%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    border-radius: 50%;
    transform: scaleX(2); 

}
.halo-atmosphere-img{
    display: flex;
    position: relative;
    justify-content: end;
}
.halo-atmosphere-img div{
    display: flex;
    justify-content: center;
}
.halo-atmosphere-img img{
    width: 85%;
    margin-bottom: 20px;
}
.absolute-atmosphere-text{
    position: absolute;
}
.testing{
    align-items: center;
    align-self: center;
    display: flex;
    background-color: aqua;
    width: 300px;
    height: 100px;
    
}
.text {
    z-index: 1;
    font-size: 30px;
  }
  .text-path{
    background: linear-gradient(to right, #C8E0FE 35%, #093756 110%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
  }
  #arc{
    color: chocolate;
  }
  
.mr-halo{
    position: absolute;
    display: flex;
    justify-content: center;
    
}
.mountains{
    position: absolute;
    display: flex;
    justify-content: center;
}
.halo-div-section{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.testing-container{
    display: flex;
    justify-content: center;
    align-items: end;
    align-self: start;
    z-index: 1;
    width: 100%;
    position: absolute;

}

.fix-halo-absolute-alignment{
    width: 100%;
    height: 130px;
    display: flex;
    justify-content: center;
    position: relative;
    padding-bottom: 100px;
    margin: 100px 0;
}
.answering-questions{
    align-self: center;
    padding-bottom: 60px;
    margin-top: -150px;
    z-index: 1;
    color: #6488af;
    font-size: clamp(16px, 6vw, 40px);
}

.halo-music-img{
    display: flex;
    position: relative;
    justify-content: center;
    width: 100%;
}
.halo-music-img img{
    width: 100%;
    height: 120%;
    object-fit: cover;
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 25%, rgba(0, 0, 0, 1) 100%, rgba(0, 0, 0, 0) 100%);
    padding-bottom: 100px;
}
  
.absolute-music-text{
    position: absolute;    
}
.music-text span{
    background: linear-gradient(to right, #093756 35%, #C8E0FE 200%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
}
.music-text{
    font-size: clamp(16px, 12vw, 150px);
    background: linear-gradient(to bottom, #C8E0FE 30%, #6488af 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    display: inline-block; /* Ensures transform applies correctly */
    transform: scaleY(1.5); /
}