img{
    height: 300px;
    border-radius: 15px;
}
h1{
    text-align: center;
    font-size: 65px;
    color: #C8E0FE;
    letter-spacing: 20px;
    opacity: 0;
    font-family:  Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h2{
    text-align: center; 
    color: #b5957b;  
    font-size: 50px; 
    font-family:  Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.slim{
    margin-top: 5px;
}
p{
    text-align: center; 
    font-size: 30px;
    margin-left: 100px;
    margin-right: 100px;
    color: #778ca9;
    /* background-color: #2e1806; */
    padding: 10px;
    border-radius: 10px;
}
.menuback{
    background-image: linear-gradient(rgb(255, 255, 255), #C8E0FE);
    height: 95px;
    position: absolute;
    width: 100%;
    top: 0;
    padding-bottom: 15px;
    z-index: -1;
}
.container{
    background-color: #093756;
    height: auto;
    width: 100%;
    position: absolute;
    top: 105px;
    z-index: -2;
}
.alignEvol{
    text-align: center;
}
.evol{
    width: 80%;
    height: auto;
    border-radius: 0px;
}
.row img{
    width: 40%;
    height: auto;
}
.row{
    display: flex;
    margin: 50px;
    justify-content: space-around;
}
.row2{
    background-color: #b5957b;
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 60px 0;
}
.row2 img {
    width: 45%;
    height: auto;
    background-color: #4c331f;
    padding: 3px;
}
.description{
    margin: 10px;
    font-size: 17px;
    min-width: 45%;
    color: #4c331f;
    /* background-color: #b5957b; */
    padding: 10px;
    border-radius: 10px;
    
}
#box4description{
    width: 100%;
    margin: 0;
    background-color: #b5957b;
}
.description2{
    font-size: 25px;
    margin-top: -40px;
}