/* CSS for the themes used across the entire website*/
body {
    position: absolute;
    height: 1080px;
    width:100%;
    top: -10px;
    background-color: #093756; /* For browsers that do not support gradients */    
    /* background-image: linear-gradient(to bottom right, #1a222d, #01091c); */
}
  
h1 {
    text-align: center;
    font-family:  Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 100;
    font-size: 48px;
    color: #C8E0FE;
    letter-spacing: 15px;
}

p {
    color: white;
    text-align: center;
}